* {
  font-family: sans-serif;
}

.page {
  display: flex;
}

#secondNav {
  display: none;
  position: absolute;
  right: 0;
}

#secondNav:hover {
  opacity: 0.85;
}

.secondMenu {

}


.sidenav {
  background-color: #222;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.sidenav:hover {
  opacity: 0.85;
}

.sidenav .line {
  width: 30px;
  height: 3px;
  padding-top: 1px;
  margin-left: 10px;
  background-color: #fff;
  pointer-events: none;
}

.sidenav .line:not(:last-child) {
  margin-bottom: 5px;
}

.menu {
  list-style-type: none;
  display: none;
  background-color: #222;
  color: #fff;
  padding: 5px 0;
  margin: 0 0 0 5px;
}

.menu .item {
  padding: 15px 30px;
  cursor: pointer;
}

.menu.active {
  display: inline-block;
}

[id^=acc] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}


[id^=acc]:target {
  max-height: 100px;
  transition: max-height 0.2s;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.85;
}

